<div class="row">
    <div class="col-md-10">
        <h2>Create account</h2>
    </div>
</div>
<form name="accountForm" role="form" novalidate>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label>First name</label>
                <input name="firstName" type="text" class="form-control" ng-model="student.firstName" required>
                <div class="text-danger" ng-show="accountForm.firstName.$error.required && accountForm.firstName.$dirty">Please enter your first name.</div>
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input name="lastName" type="text" class="form-control" ng-model="student.lastName" required>
                <div class="text-danger" ng-show="accountForm.lastName.$error.required && accountForm.lastName.$dirty">Please enter your last name.</div>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" ng-model="student.email" required>
                <div class="text-danger" ng-show="accountForm.email.$error.required && accountForm.email.$dirty">Please enter your email address.</div>
                <div class="text-danger" ng-show="accountForm.email.$error.email && accountForm.email.$dirty">Please enter a valid email address.</div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" ng-model="student.password" required>
                <div class="text-danger" ng-show="accountForm.password.$error.required && accountForm.password.$dirty">Please enter a password.</div>

            </div>
            <button class="btn btn-default" ng-disabled="accountForm.$invalid" ng-click="save(student)">Create account</button>
            <div ng-show="errors.length > 0" ng-repeat="error in errors" class="text-danger">{{error}}</div>
        </div>
    </div>
</form>
